/* TableComponent.css */

.table-container {
  margin: 20px;
  padding: 1rem;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tbody tr:hover {
  background-color: #e6e6e6;
}

/* Dropdown styles 1 */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: 10px;
}

.dropbtn {
  background-color: #f2f2f2;
  color: #333;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content span:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* DropdownComponent.css 222 */

.dropdown-container {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.dropdown-options div {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-options div:hover {
  background-color: #f2f2f2;
}

/* SearchBarComponent.css */

.search-container {
  display: flex;
  align-items: center;
  max-width: 85px;
  margin: 0px;
}

.search-input {
  flex: 1;
  padding: 8px 0px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}

.search-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Navlink button */
.navbar-button {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 4px;
  color: #007bff;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-button:hover {
  background-color: #007bff;
  color: #fff;
}
